In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Philippe,RE,2022-08-22 01:25:35,-21.3585,55.7679,63.21,75,24,10.40
1,1,Arraial Do Cabo,BR,2022-08-22 01:25:35,-22.9661,-42.0278,65.98,69,82,10.54
2,2,Ahipara,NZ,2022-08-22 01:25:35,-35.1667,173.1667,60.69,67,13,14.54
3,3,Ulaanbaatar,MN,2022-08-22 01:20:48,47.9077,106.8832,46.53,76,40,4.47
4,4,Thompson,CA,2022-08-22 01:25:36,55.7435,-97.8558,60.96,63,75,10.36

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

# Create heat map

In [4]:
gmaps.configure(api_key=g_key)

In [7]:
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature

locations = city_data_df[["Lat", "Lng"]]
#  maximum temperature.
max_temp = city_data_df["Max Temp"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of humpidity

locations = city_data_df[["Lat", "Lng"]]
#  humidity.
humidity = city_data_df["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of cloud

locations = city_data_df[["Lat", "Lng"]]
#  cloudiness.
cloud = city_data_df["Cloudiness"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=cloud, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of wind

locations = city_data_df[["Lat", "Lng"]]
#  cloudiness.
wind = city_data_df["Wind Speed"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

# 6.5.3 criteria

In [15]:
# What is the max and min
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 100

In [16]:
#Find perfered cities
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Vaini,TO,2022-08-22 01:24:49,-21.2000,-175.2000,77.16,83,40,12.66
10,10,Sur,OM,2022-08-22 01:25:37,22.5667,59.5289,86.86,67,100,1.21
13,13,Pulaski,US,2022-08-22 01:25:38,34.7668,-92.3001,79.11,86,100,4.61
17,17,Avarua,CK,2022-08-22 01:25:44,-21.2078,-159.7750,75.25,94,100,9.22
18,18,Mount Isa,AU,2022-08-22 01:23:14,-20.7333,139.5000,76.77,29,0,10.36
19,19,Aguadilla,PR,2022-08-22 01:25:44,18.4275,-67.1541,78.66,91,75,5.75
27,27,Victoria,HK,2022-08-22 01:25:46,22.2855,114.1577,90.25,78,100,4.00
28,28,Bethel,US,2022-08-22 01:25:46,41.3712,-73.4140,75.36,79,0,0.00
31,31,Digkilaan,PH,2022-08-22 01:25:47,8.2511,124.3172,82.65,64,100,2.48
33,33,Ojinaga,MX,2022-08-22 01:25:48,29.5667,-104.4167,88.75,51,40,5.75

In [17]:
preferred_cities_df.count()

City_ID       180
City          180
Country       180
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [18]:
#Adding the hotel
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
5       Vaini      TO     77.16 -21.2000 -175.2000
10        Sur      OM     86.86  22.5667   59.5289
13    Pulaski      US     79.11  34.7668  -92.3001
17     Avarua      CK     75.25 -21.2078 -159.7750
18  Mount Isa      AU     76.77 -20.7333  139.5000
19  Aguadilla      PR     78.66  18.4275  -67.1541
27   Victoria      HK     90.25  22.2855  114.1577
28     Bethel      US     75.36  41.3712  -73.4140
31  Digkilaan      PH     82.65   8.2511  124.3172
33    Ojinaga      MX     88.75  29.5667 -104.4167

In [19]:
#hotel parameters
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}