## Deliverable 3. Create a Travel Itinerary Map.

In [31]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [13]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Port Blair,IN,80.64,mist,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
1,6,Pascagoula,US,87.85,few clouds,30.3658,-88.5561,Regency Inn
2,10,Kapaa,US,77.32,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,11,Bethel,US,79.63,overcast clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
4,12,Puerto Ayora,EC,76.96,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [17]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [18]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=='Bhitarwar']
vacation_end = vacation_df.loc[vacation_df['City']=='Bhitarwar']
vacation_stop1 = vacation_df.loc[vacation_df['City']=='Khargone']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='Addanki']
vacation_stop3 = vacation_df.loc[vacation_df['City']=='Puri']
#testing vacation_stop3
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
271,632,Puri,IN,82.92,broken clouds,19.8,85.85,OYO 1577 Hotel Shree Hari Grand

In [37]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start =(vacation_start['Lat'].to_numpy()[0],vacation_start['Lng'].to_numpy()[0])
end =(vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0])
stop1 =(vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0])
stop2 =(vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0])
stop3 =(vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0])
#testing stop 3
stop3

(19.8, 85.85)

In [38]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
route = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3],travel_mode='DRIVING')
fig.add_layer(route)
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1, vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,536,Bhitarwar,IN,82.26,moderate rain,25.8000,78.1167,Rahman master
1,503,Khargone,IN,77.92,overcast clouds,21.8167,75.6000,SPOT ON 63187 Vallabha Hotel
2,631,Addanki,IN,85.48,overcast clouds,15.8167,79.9833,Shanthi residency
3,632,Puri,IN,82.92,broken clouds,19.8000,85.8500,OYO 1577 Hotel Shree Hari Grand
4,536,Bhitarwar,IN,82.26,moderate rain,25.8000,78.1167,Rahman master

In [47]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [48]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))